body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

main{
    background-image: url(./TV-bg.webp);
    width: 1200px;
    background-size: 100%;
    height: 690px;
    background-color: #000;
    margin-left: calc(50% - 600px);
    margin-top: calc(50vh - 345px);
    padding: 150px;
    padding-right: 405px;
    font-size: 24px;
    text-transform: uppercase;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625em;
    text-align: center;
}

img{
    width: 6.25em;
}

h1{
    font-size: 2.5em;
    line-height: 1.2em;
}

h2{
    font-size: 1.875em;
    line-height: 1em;
}

p {
    font-size: 1em;
}

@media (max-width: 1200px) {
    main{
        width: 800px;
        height: 460px;
        margin-left: calc(50% - 400px);
        margin-top: calc(50vh - 230px);
        padding: 100px;
        padding-right: 270px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    main{
        width: 400px;
        height: 230px;
        margin-left: calc(50% - 200px);
        margin-top: calc(50vh - 115px);
        padding: 50px;
        padding-right: 135px;
        font-size: 8px;
    }
}

@media (max-width: 400px) {
    main{
        width: 100%;
        height: 207px;
        margin-left: 0;
        margin-top: calc(50vh - 115px);
        padding: 12.5%;
        padding-right: 33.75%;
        font-size: 7px;
    }
}